<div class="breadcrumb">
    <h5>Add Distributor</h5>
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <!-- <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a> -->
            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
    </li>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <form #frm="ngForm" (ngSubmit)="addUser(frm)">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><strong>Contact Details</strong></div>
                            <div class="card-body card-block">
                                <div class="form-group">
                                    <label for="name" class=" form-control-label">Name</label>
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input name="username" placeholder="Enter User Name" [(ngModel)]="user.username" [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched),'is-valid': username.valid && (username.dirty || username.touched)}" pattern="^[a-zA-Z ]*$"
                                            #username="ngModel" class="form-control" required>
                                    </div>
                                    <div [hidden]="username.valid || username.pristine" class="invalid-feedback">
                                        User Name is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class=" form-control-label">Phone Number</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                        </div>
                                        <input name="phone" type="name" placeholder="Enter Phone Number" class="form-control" min=0 maxlength=10 pattern="^[0-9]*$" oninput="validity.valid||(value='');" [ngClass]="{'is-invalid': phone.invalid && (phone.dirty || phone.touched),'is-valid': phone.valid && (phone.dirty || phone.touched)}"
                                            [(ngModel)]="user.phone" #phone="ngModel" required>
                                    </div>
                                    <div [hidden]="phone.valid || phone.pristine" class="invalid-feedback">
                                        Phone Number is required
                                    </div>
                                </div>
                                <div class="form-group"><label for="email" class=" form-control-label">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input name="email" type="text" name="email" placeholder="Enter Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched),'is-valid': email.valid && (email.dirty || email.touched)}"
                                            [(ngModel)]="user.email" #email="ngModel" required>
                                    </div>
                                    <div [hidden]="email.valid || email.pristine" class="invalid-feedback">
                                        Email Id is required
                                    </div>
                                </div>

                                <div class="form-group"><label for="street" class=" form-control-label">Street</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-street-view"></i></span>
                                        </div>
                                        <input name="street" type="text" name="street" placeholder="Enter Street Name" class="form-control" oninput="validity.valid||(value='');" [(ngModel)]="user.street" pattern="^[a-zA-Z ]*$" #street="ngModel" [ngClass]="{'is-invalid': street.invalid && (street.dirty || street.touched),'is-valid': street.valid && (street.dirty || street.touched)}"
                                            required>
                                    </div>
                                    <div [hidden]="street.valid || street.pristine" class="invalid-feedback">
                                        Street Name is required
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                        <div class="form-group"><label for="city" class=" form-control-label">City</label><input type="text" placeholder="Enter your city" name="city" class="form-control" [(ngModel)]="user.city" oninput="validity.valid||(value='');" pattern="^[a-zA-Z ]*$"
                                                #city="ngModel" [ngClass]="{'is-invalid': city.invalid && (city.dirty || city.touched),'is-valid': city.valid && (city.dirty || city.touched)}" required>
                                            <div [hidden]="city.valid || city.pristine" class="invalid-feedback">
                                                City Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group"><label for="state" class=" form-control-label">State</label><input type="text" placeholder="Enter your State" name="state" class="form-control" [(ngModel)]="user.state" pattern="^[a-zA-Z ]*$" oninput="validity.valid||(value='');"
                                                #state="ngModel" [ngClass]="{'is-invalid': state.invalid && (state.dirty || state.touched),'is-valid': state.valid && (state.dirty || state.touched)}" required>
                                            <div [hidden]="state.valid || state.pristine" class="invalid-feedback">
                                                State Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group"><label for="postal-code" class=" form-control-label">Postal Code</label><input type="text" placeholder="Postal Code" pattern="[1-9][0-9]*" maxlength="6" oninput="validity.valid||(value='');" name="postal" class="form-control"
                                                [(ngModel)]="user.postal" #postal="ngModel" [ngClass]="{'is-invalid': postal.invalid && (postal.dirty || postal.touched),'is-valid': postal.valid && (postal.dirty || postal.touched)}" required>
                                            <div [hidden]="postal.valid || postal.pristine" class="invalid-feedback">
                                                Postal Code is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="form-control" name="country" [(ngModel)]="user.country" [ngClass]="{'is-invalid': country.invalid && (country.dirty || country.touched),'is-valid': country.valid && (country.dirty || country.touched)}" #country="ngModel" required>
                                                <option>India</option>
                                                <option>AUS</option>
                                                <option>Canada</option>
                                                <option>USA</option>
                                                <option>UK</option>
                                              </select>
                                            <div [hidden]="country.valid || country.pristine" class="invalid-feedback">
                                                Country is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                    <!--/.col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><strong>Distributor</strong><small> Company Details</small></div>
                            <div class="card-body card-block">
                                <!-- <form> -->
                                <div class="form-group"><label for="company" class=" form-control-label">Company</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                                        </div>
                                        <input type="text" name="company" placeholder="Enter Company Name" class="form-control" [(ngModel)]="user.company" pattern="^[a-zA-Z ]*$" oninput="validity.valid||(value='');" [(ngModel)]="user.country" [ngClass]="{'is-invalid': company.invalid && (company.dirty || company.touched),'is-valid': company.valid && (company.dirty || company.touched)}"
                                            #company="ngModel" required>
                                    </div>
                                    <div [hidden]="company.valid || company.pristine" class="invalid-feedback">
                                        Company Name is required
                                    </div>
                                </div>
                                <div class="form-group"><label class=" form-control-label">GST</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-tag"></i></span>
                                        </div>
                                        <input type="text" name="gst" placeholder="Enter GST Number" pattern="^([0]{1}[1-9]{1}|[1-2]{1}[0-9]{1}|[3]{1}[0-7]{1})([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$" [(ngModel)]="user.gst" maxlength="15" name="gst" #gst="ngModel"
                                            class="form-control" [ngClass]="{'is-invalid': gst.invalid && (gst.dirty || gst.touched),'is-valid': gst.valid && (gst.dirty || gst.touched)}" required>
                                    </div>
                                    <div [hidden]="gst.valid || gst.pristine" class="invalid-feedback">
                                        GST Number is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cphone" class=" form-control-label">Phone Number</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                        </div>
                                        <input placeholder="Enter Phone Number" name="cphone" class="form-control" maxlength=10 pattern="^[0-9]*$" oninput="validity.valid||(value='');" [(ngModel)]="user.cphone" #cphone="ngModel" [ngClass]="{'is-invalid': cphone.invalid && (cphone.dirty || cphone.touched),'is-valid': cphone.valid && (cphone.dirty || cphone.touched)}"
                                            required>
                                    </div>
                                    <div [hidden]="cphone.valid || cphone.pristine" class="invalid-feedback">
                                        Phone Number is required
                                    </div>
                                </div>
                                <div class="form-group"><label for="street" class=" form-control-label">Email <small>(Login Email)</small></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input type="text" name="cemail" placeholder="Enter Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" [(ngModel)]="user.cemail" #cemail="ngModel" [ngClass]="{'is-invalid': cemail.invalid && (cemail.dirty || cemail.touched),'is-valid': cemail.valid && (cemail.dirty || cemail.touched)}"
                                            required>
                                    </div>
                                    <div [hidden]="cemail.valid || cemail.pristine" class="invalid-feedback">
                                        Email Id is required
                                    </div>
                                </div>
                                <div class="form-group"><label for="street" class=" form-control-label">Old Password </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" name="password" placeholder="Enter Old Password " class="form-control" ngModel required>
                                    </div>
                                </div>
                                <div class="form-group"><label for="street" class=" form-control-label">New Password </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" name="password" placeholder="Enter New Password" class="form-control" ngModel required>
                                    </div>
                                </div>
                                <div class="form-group"><label for="street" class=" form-control-label">Confirm Password </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" name="password" placeholder="Confirm Password" class="form-control" ngModel required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="street" class=" form-control-label">Street</label>
                                    <input type="text" name="hnumber" placeholder="Enter House Number" class="form-control" [ngClass]="{'is-invalid': hnumber.invalid && (hnumber.dirty || hnumber.touched),'is-valid': hnumber.valid && (hnumber.dirty || hnumber.touched)}" #hnumber="ngModel"
                                        [(ngModel)]="user.hnumber" oninput="validity.valid||(value='');" required>
                                    <div [hidden]="hnumber.valid || hnumber.pristine" class="invalid-feedback">
                                        House number is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="cstreet" placeholder="Enter street name" class="form-control" #cstreet="ngModel" [(ngModel)]="user.cstreet" oninput="validity.valid||(value='');" [ngClass]="{'is-invalid': cstreet.invalid && (cstreet.dirty || cstreet.touched),'is-valid': cstreet.valid && (cstreet.dirty || cstreet.touched)}"
                                        required>
                                    <div [hidden]="cstreet.valid || cstreet.pristine" class="invalid-feedback">
                                        Street Name is required
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                        <div class="form-group"><label for="city" class=" form-control-label">City</label>
                                            <input type="text" name="ccity" placeholder="Enter your city" class="form-control" [(ngModel)]="user.ccity" oninput="validity.valid||(value='');" pattern="^[a-zA-Z ]*$" #ccity="ngModel" [ngClass]="{'is-invalid': ccity.invalid && (ccity.dirty || ccity.touched),'is-valid': ccity.valid && (ccity.dirty || ccity.touched)}"
                                                required>
                                            <div [hidden]="ccity.valid || ccity.pristine" class="invalid-feedback">
                                                City Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group"><label for="state" class=" form-control-label">State</label>
                                            <input type="text" placeholder="Enter your State" class="form-control" [(ngModel)]="user.cstate" pattern="^[a-zA-Z ]*$" name="cstate" oninput="validity.valid||(value='');" [ngClass]="{'is-invalid': cstate.invalid && (cstate.dirty || cstate.touched),'is-valid': cstate.valid && (cstate.dirty || cstate.touched)}"
                                                #cstate="ngModel" required>
                                            <div [hidden]="cstate.valid || cstate.pristine" class="invalid-feedback">
                                                State Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group"><label for="postal-code" class=" form-control-label">Postal Code</label><input type="text" placeholder="Postal Code" pattern="[1-9][0-9]*" maxlength="6" oninput="validity.valid||(value='');" name="cpostal" class="form-control"
                                                name="cpostal" [(ngModel)]="user.cpostal" #cpostal="ngModel" [ngClass]="{'is-invalid': cpostal.invalid && (cpostal.dirty || cpostal.touched),'is-valid': cpostal.valid && (cpostal.dirty || cpostal.touched)}"
                                                required>
                                            <div [hidden]="cpostal.valid || cpostal.pristine" class="invalid-feedback">
                                                Postal Code is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="form-control" name="ccountry" [(ngModel)]="user.ccountry" #ccountry="ngModel" [ngClass]="{'is-invalid': ccountry.invalid && (ccountry.dirty || ccountry.touched),'is-valid': ccountry.valid && (ccountry.dirty || ccountry.touched)}" required>
                                              <option>India</option>
                                              <option>AUS</option>
                                              <option>Canada</option>
                                              <option>USA</option>
                                              <option>UK</option>
                                            </select>
                                            <div [hidden]="ccountry.valid || ccountry.pristine" class="invalid-feedback">
                                                Country is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card ">
                            <div class="card-header">
                                <strong>Licensing</strong>
                            </div>
                            <div class="card-body card-block">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group"><label for="company" class=" form-control-label">Volume (No. Of Users)</label><input type="text" name="nusers" placeholder="1000" class="form-control" min=0 maxlength=1000 pattern="^[0-9]*$" oninput="validity.valid||(value='');"
                                                [ngClass]="{'is-invalid': nusers.invalid && (nusers.dirty || nusers.touched),'is-valid': nusers.valid && (nusers.dirty || nusers.touched)}" [(ngModel)]="user.nusers" #nusers="ngModel" required>
                                            <div [hidden]="nusers.valid || nusers.pristine" class="invalid-feedback">
                                                No of Users is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group"><label for="price" class=" form-control-label">Price Details</label>
                                            <input name="price" type="text" placeholder="Enter Price" class="form-control" min=0 maxlength=1000 pattern="^[0-9]*$" oninput="validity.valid||(value='');" [ngClass]="{'is-invalid': price.invalid && (price.dirty || price.touched),'is-valid': price.valid && (price.dirty || price.touched)}"
                                                [(ngModel)]="user.price" #price="ngModel" required required>
                                            <div [hidden]="price.valid || price.pristine" class="invalid-feedback">
                                                Price Details is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 rm-22 p-0">
                                        <div class="form-group"><label for="vat" class=" form-control-label"> Per User / Year</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-10"></div>
                    <div class="col-lg-2  mb-3">
                        <div class="d-flex justify-content-around">
                            <div>
                                <button class="btn btn-square btn-danger" type="button"><i class="fa fa-ban"></i>&nbsp;Reset</button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-square btn-primary" (click)="addUser(frm)" [disabled]="frm.invalid">
                                  <i class="fa fa-dot-circle-o"></i> &nbsp;Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </form>
        </div>
    </div>