<div class="breadcrumb">
    <h5>Manage Product</h5>
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <!-- <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a> -->
            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
    </li>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Product1</strong>
                    </div>
                    <img class="card-img-top" src="assets/img/avatars/placeholder.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h4 class="card-title mb-3">Details :</h4>
                        </div>

                        <ul class="list-group list-group-flush product-list">
                            <li class="list-group-item">
                                <p> Product Name : Lorem</p>
                            </li>
                            <li class="list-group-item">
                                <p> Model Number : model12</p>
                            </li>
                            <li class="list-group-item">
                                <p> Price : 1200INR</p>
                            </li>
                            <li class="list-group-item">
                                <p> User Manual / Documnet :</p>
                            </li>
                            <li class="list-group-item">
                                <p>Description : </p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Product2</strong>
                    </div>
                    <img class="card-img-top" src="assets/img/avatars/placeholder.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h4 class="card-title mb-3">Details :</h4>
                        </div>

                        <ul class="list-group list-group-flush product-list">
                            <li class="list-group-item">
                                <p> Product Name : Lorem</p>
                            </li>
                            <li class="list-group-item">
                                <p> Model Number : model12</p>
                            </li>
                            <li class="list-group-item">
                                <p> Price : 1200INR</p>
                            </li>
                            <li class="list-group-item">
                                <p> User Manual / Documnet :</p>
                            </li>
                            <li class="list-group-item">
                                <p>Description : </p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Product3</strong>
                    </div>
                    <img class="card-img-top" src="assets/img/avatars/placeholder.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h4 class="card-title mb-3">Details :</h4>
                        </div>

                        <ul class="list-group list-group-flush product-list">
                            <li class="list-group-item">
                                <p> Product Name : Lorem</p>
                            </li>
                            <li class="list-group-item">
                                <p> Model Number : model12</p>
                            </li>
                            <li class="list-group-item">
                                <p> Price : 1200INR</p>
                            </li>
                            <li class="list-group-item">
                                <p> User Manual / Documnet :</p>
                            </li>
                            <li class="list-group-item">
                                <p>Description : </p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Product4</strong>
                    </div>
                    <img class="card-img-top" src="assets/img/avatars/placeholder.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h4 class="card-title mb-3">Details :</h4>
                        </div>

                        <ul class="list-group list-group-flush product-list">
                            <li class="list-group-item">
                                <p> Product Name : Lorem</p>
                            </li>
                            <li class="list-group-item">
                                <p> Model Number : model12</p>
                            </li>
                            <li class="list-group-item">
                                <p> Price : 1200INR</p>
                            </li>
                            <li class="list-group-item">
                                <p> User Manual / Documnet :</p>
                            </li>
                            <li class="list-group-item">
                                <p>Description : </p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Product5</strong>
                    </div>
                    <img class="card-img-top" src="assets/img/avatars/placeholder.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h4 class="card-title mb-3">Details :</h4>
                        </div>

                        <ul class="list-group list-group-flush product-list">
                            <li class="list-group-item">
                                <p> Product Name : Lorem</p>
                            </li>
                            <li class="list-group-item">
                                <p> Model Number : model12</p>
                            </li>
                            <li class="list-group-item">
                                <p> Price : 1200INR</p>
                            </li>
                            <li class="list-group-item">
                                <p> User Manual / Documnet :</p>
                            </li>
                            <li class="list-group-item">
                                <p>Description : </p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Product6</strong>
                    </div>
                    <img class="card-img-top" src="assets/img/avatars/placeholder.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h4 class="card-title mb-3">Details :</h4>
                        </div>

                        <ul class="list-group list-group-flush product-list">
                            <li class="list-group-item">
                                <p> Product Name : Lorem</p>
                            </li>
                            <li class="list-group-item">
                                <p> Model Number : model12</p>
                            </li>
                            <li class="list-group-item">
                                <p> Price : 1200INR</p>
                            </li>
                            <li class="list-group-item">
                                <p> User Manual / Documnet :</p>
                            </li>
                            <li class="list-group-item">
                                <p>Description : </p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .animated -->
</div>